.center-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh; /* You can adjust this value based on your layout */

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
        border: 3px solid black;
        padding: 30px 40px;
        width: fit-content;
        margin: 30px;

        ion-icon {
            color: black;
            align-self: center;
        }
    }

    h1 {
        font-size: xx-large;
    }
}
