.banner-container {
    max-width: 100%;
    margin: 0 auto;
    }
    
    html, body{
        background: #E3E3D8;
        font-family: sans-serif;
        padding: 25px;
      }
    
      .main{
        display: flex;
        flex-wrap: wrap; /* Prevent wrapping to the next line */
      }
      
      .wrapper{
        // overflow-x: auto; 
        width: 300px;
        height: 500px;
        margin-right:20px;
        background: white;
        overflow: hidden;
        border-radius: 10px 10px 10px 10px;
        box-shadow: 0;
        transform: scale(0.95);
        transition: box-shadow 0.5s, transform 0.5s;
        &:hover{
          transform: scale(1);
          box-shadow: 5px 20px 30px rgba(0,0,0,0.2);
        }
        
        .container{    
          width:100%;
          height:100%;
          flex: 0 1 24%;
          .top{
            height: 80%;
            width:100%;
          }
          .bottom{
            width: 200%;
            height: 20%;
            transition: transform 0.5s;
            &.clicked{
              transform: translateX(-50%);
            }
            h2{
                margin:0;
                padding:0;
            }
            p{
                margin:0;
                padding:0;
                font-size:18px;
            }
            .left{
              height:100%;
              width: 50%;
              background: #f4f4f4;
              position:relative;
              float:left;
              .details{
                padding: 20px;
                float: left;
                width: calc(70% - 40px);
              }
              .buy{
                position:absolute;
                right:30px;
                bottom:30px;
              }
            }
            .right{
              width: 50%;
              background: #A6CDDE;
              color: white;
              float:right;
              height:200%;
              overflow: hidden;
              .details{
                padding: 20px;
                float: right;
                width: calc(70% - 40px);
              }
            }
          }
        }
        
        .inside{
          z-index:9;
          background: #92879B;
          width:140px;
          height:140px;
          position: absolute;
          top: -70px;
          right: -70px;
          border-radius: 0px 0px 200px 200px;
          transition: all 0.5s, border-radius 2s, top 1s;
          overflow: hidden;
          .icon{
            position:absolute;
            right:85px;
            top:85px;
            color:white;
            opacity: 1;
          }
          &:hover{
            width:100%;
            right:0;
            top:0;
            border-radius: 0;
            height:80%;
            .icon{
              opacity: 0;
              right:15px;
              top:15px;
            }
            .contents{
              opacity: 1;
              transform: scale(1);
              transform: translateY(0);
            }
          }
          .contents{
            padding: 5%;
            opacity: 0;
            transform: scale(0.5);
            transform: translateY(-200%);
            transition: opacity 0.2s, transform 0.8s;
            table{
              text-align:left;
              width:100%;
            }
            h1, p, table{
              color: white;
            }
            p{
              font-size:13px;
            }
          }
        }
      }
    
    