<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <h3 size="medium">{{ brand }} ${{ value }} voucher</h3>
  </ion-header>
  <ion-item>
    <h6>Voucher ID: {{ id }}</h6>
  </ion-item>

  <!-- Show copy code if the brand is "Grab"
  <ion-item *ngIf="brand === 'Grab'" >
    Promo Code: 
    <div class="copyCode" (click)="copyToClipboard()">{{ contentToCopy }}</div>
  </ion-item> -->

  <!-- Show QR code if the brand is not "Grab" -->
  <ion-item>
    <qrcode [qrdata]="id" [width]="230" [errorCorrectionLevel]="'M'"></qrcode>
  </ion-item>
</ion-content>
