<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <h3 size="medium">{{ brand }} ${{ value }} voucher</h3>
  </ion-header>
  <ion-item>
    <h6>Voucher ID: {{ id }}</h6>
  </ion-item>

  <ion-item>
    <qrcode [qrdata]="id" [width]="230" [errorCorrectionLevel]="'M'"></qrcode>
  </ion-item>
</ion-content>
