<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item>
      <img src="assets/logo.png" width="70" height="50" style="margin: 10px 0px 0px 0px"/>
    </ion-item>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="logout()">
        <ion-icon slot="icon-only" name="exit-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-buttons slot="start">
      <ion-icon slot="icon-only" name="funnel-outline"></ion-icon>
    </ion-buttons>
    <ion-select (ionChange)="filterUsers($event)" [(ngModel)]="selectedCategory">
      <ion-select-option *ngFor="let option of categories"
        [value]="option">
        {{option}}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-searchbar #searchBar (ionChange)=search($event) (ionClear)="clearSearch()"></ion-searchbar>
  
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="container-fluid">
    <div class="row">
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 my-3">
        <div class="projects mb-4">
          <div class="projects-inner">
            <header class="projects-header">
              <div class="title">User Management</div>
              <div class="count">| {{filteredusers.length}} Users</div>
              <i class="zmdi zmdi-download"></i>
            </header>
            <table class="projects-table">
              <thead>
                <tr>
                  <th>Account</th>
                  <th>Email</th>
                  <th>Phone Number</th>
                  <th>Shipping Address</th>
                  <th>Age Range</th>
                  <th>About</th>
                  <ng-container *ngIf="selectedCategory === 'Banned'">
                    <th>Reason</th>
                    <th>Banned By</th>
                  </ng-container>
                  <th></th>
                </tr>
              </thead>
              <tr *ngFor="let item of filteredusers">
                <td>
                  <p>{{item.name}}</p>
                  <p>{{item.userID}}</p>
                </td>
                <td>
                  <p>{{item.email}}</p>
                </td>
                <td>
                  <p>{{item.phoneNumber}}</p>
                </td>
                <td>
                  <p>{{item.shippingAddress}}</p>
                </td>
                <td>
                  <p>{{item.ageRange}}</p>
                </td>
                <td>
                  <p>{{item.bio}}</p>
                </td>
                <ng-container *ngIf="selectedCategory !== 'Banned'">
                  <td>
                    <ion-icon name="eye" slot="icon-only" [routerLink] = "['/adminlisting', item.userID]"></ion-icon>
                    <ion-icon name="ban" slot="icon-only" style="margin-left:10px" (click)="delete(item)"></ion-icon>  
                  </td>
                </ng-container>
                <ng-container *ngIf="selectedCategory === 'Banned'">
                  <td>
                    <p>{{item.reasons}}</p>
                  </td>
                  <td>
                    <p>{{item.Banned_By}}</p>
                  </td>
                </ng-container>

              </tr>
              
            </table>
          </div>
        </div>
      </main>
    </div>
  </div>
</ion-content>
