<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item>
      <img src="assets/logo.png" width="70" height="50" style="margin: 10px 0px 0px 0px"/>
    </ion-item>

    <ion-buttons slot="end">
      <ion-button color="primary" (click)="logout()"> 
        <ion-icon slot="icon-only" name="exit-outline"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">

      <div class="container-fluid">
        <div class="row">
          <main role="main" class="col-md-9 ml-sm-auto col-lg-10 my-3">

            <ion-segment [(ngModel)]="selectedTimeRange" (ionChange)="updateChart()">
              <ion-segment-button value="hours" checked>
                Last 24 hours
              </ion-segment-button>
              <ion-segment-button value="daily" checked>
                Daily
              </ion-segment-button>
              <ion-segment-button value="monthly">
                Monthly
              </ion-segment-button>
              <ion-segment-button value="yearly">
                Yearly
              </ion-segment-button>
            </ion-segment>
            <div echarts [options]="chartOption" style="margin-top:20px"></div>

            <ion-searchbar #searchBar (ionChange)=search($event) (ionClear)="clearSearch()"></ion-searchbar>

            <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
              <ion-refresher-content></ion-refresher-content>
            </ion-refresher>
          
            <div class="projects mb-4">
              <div class="projects-inner">
                <header class="projects-header">
                  <div class="title">Order Management</div>
                  <div class="count">| {{trans.length}} Total Transactions</div>
                  <i class="zmdi zmdi-download"></i>
                </header>
                <table class="projects-table">
                  <thead>
                    <tr>
                      <th>Trans ID</th>
                      <th>Customer ID</th>
                      <th>Date</th>
                      <th>Amount</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tr *ngFor="let item of trans">
                    <td>
                      <p>{{item.id}}</p>
                    </td>
                    <td [routerLink]="['/adminlisting', item.buyeruserid]">
                      <p>{{item.buyeruserid}}</p>
                    </td>
                    <td>
                      {{item.create_time}}
                    </td>
                    <td>
                      <p>{{item.currency}}{{item.amount | currency}}</p>
                    </td>  
                    <td>                 
                      <ion-icon name="eye" slot="icon-only" [routerLink] = "['/admintrans', item.id]"></ion-icon>
                    </td>  
                  </tr>
                  
                </table>
              </div>
            </div>
          </main>
        </div>
      </div>
    </ion-content>
