h5 {
    color: rgb(151, 169, 124);
}

.top-ctn {
    ion-avatar {
        width: 150px; 
        height: 150px; 
        margin: 20px auto;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
}