h6 {
    margin: 0;
}

ion-item {
    --inner-border-width: 0px;
    padding: 0px 20px;
    margin-bottom: 10px;
    
    ion-label {
        color: rgb(151, 169, 124);
    }
}

.top-btm {
    margin: 30px 0px;
    img {
        margin-bottom: 20px;
    }
}

ion-button {
    width: 150px;
}

.btn-ctn {
    margin-bottom: 30px;
}
