p {
    margin: 0;
    color: grey;
}

ion-label {
    color: rgb(151, 169, 124);
}


.top-btm {
    margin: 30px 0px;
    img {
        margin-bottom: 20px;
    }
}

.inline-btn-ctn {
    ion-button {
        width: 150px;
        font-size: small;
    }
}

h6 {
    color: rgb(151, 169, 124);
}