#okIcon {
    color: #97A97C;
    margin-right: 2px;
}

#notOkIcon {
    color: #C95F5F;
    margin-right: 2px;
}

p {
    white-space: nowrap;
}

ion-item {
    display: flex;
    align-items: center;
}